<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>Keshava Jobs Portal</h1>
        <a class="btn btn-primary " href="/hydjobsinfo/" role="button">click here to view Hyderabadjobs</a>
        <a class="btn btn-primary " href="/banglorejobsinfo/" role="button">click here to view Banglorejobs</a>
        <a class="btn btn-primary " href="/chennaijobsinfo/" role="button">click here to view Chennaijobs</a>
        <a class="btn btn-primary " href="/punejobsinfo/" role="button">click here to view Punejobs</a>
      </div>

  </div>

  </body>
</html>
